.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.text-sm {
  font-size: 0.75rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.mb-20 {
  margin-bottom: 20px;
}

.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.w-half {
  width: 50%;
}
